flows (6)_19112021_OK.json
[
    {
        "id": "6b3191993269f312",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a46206cc1e0598e4",
        "type": "tab",
        "label": "INIT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54e62c1d90c75bac",
        "type": "tab",
        "label": "Connection Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dac7d70d7943e313",
        "type": "tab",
        "label": "Enable Power Balance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5fb63eedcfeaa0c5",
        "type": "tab",
        "label": "Disable Power Balance",
        "disabled": false,
        "info": ""
    },
    {
        "id": "71a2e81cb89fca24",
        "type": "tab",
        "label": "Configure PB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "188a1c4a11037759",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8aeeb3bb62d960f6",
        "type": "ui_group",
        "name": "Insert IP addresss",
        "tab": "68ea6e8a8d524f56",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "68ea6e8a8d524f56",
        "type": "ui_tab",
        "name": "Static Power Balance",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9c966c411b98487e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bb7e1107184a187e",
        "type": "ui_spacer",
        "z": "5fb63eedcfeaa0c5",
        "name": "spacer",
        "group": "8448a2e6c3a884fc",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1cb98b5cf73d489c",
        "type": "ui_group",
        "name": "Desable Power Balance",
        "tab": "68ea6e8a8d524f56",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a37cfae180904625",
        "type": "ui_group",
        "name": "Enable Power Balance",
        "tab": "68ea6e8a8d524f56",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3ca2ffcffa9ca6ff",
        "type": "ui_group",
        "name": "Clean Screen",
        "tab": "68ea6e8a8d524f56",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aaa583302def79b2",
        "type": "ui_group",
        "name": "Configure Power Balance",
        "tab": "68ea6e8a8d524f56",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4427621b.554264",
        "type": "ui_group",
        "name": "Crew",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "625872f.40b1e8c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "93986aa10a4ac752",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ac8d6544a2e67e33",
        "type": "ui_spacer",
        "z": "a46206cc1e0598e4",
        "name": "spacer",
        "group": "8aeeb3bb62d960f6",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2802b379907f267c",
        "type": "ui_spacer",
        "z": "a46206cc1e0598e4",
        "name": "spacer",
        "group": "8aeeb3bb62d960f6",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "4f7ebc853413030a",
        "type": "ui_spacer",
        "z": "a46206cc1e0598e4",
        "name": "spacer",
        "group": "8aeeb3bb62d960f6",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "44ecd127d30ee01a",
        "type": "ui_spacer",
        "z": "a46206cc1e0598e4",
        "name": "spacer",
        "group": "8aeeb3bb62d960f6",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "e40e97d4.1356e8",
        "type": "ui_group",
        "name": "Menu",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f2aefa84.a9a108",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b09937f3.b814f8",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75944167.0434b",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d377ba01f81fa79f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</variablesGroups>",
                "fromt": "str",
                "to": "<variablesGroup><id>D3033086-F21B-4945-A47B-EF9FDC3A0095</id><name>COUNTERS</name><description></description><savePeriod></savePeriod><save>F</save><variables><variable><id>B1C3C855-E02F-4F16-BECA-1DF165FA136F</id><isText>F</isText><name>CHARGING_AC</name><title>CHARGING_AC</title><description></description><units></units><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS_CFG.STATE_AC]==6,1,0)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>0</stdCode><discriminator></discriminator></variable><variable><id>4B5A5654-9B59-4D2F-92D7-31A5BF17DB32</id><isText>F</isText><name>CHARGING_DC</name><title>CHARGING_DC</title><description></description><units></units><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS_CFG.STATE_DC]==6,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==13,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==14,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==15,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==16,1,0)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>1</stdCode><discriminator></discriminator></variable><variable><id>728EAA7D-BAD0-4640-8D7E-BCA853AD8BC6</id><isText>F</isText><name>CHARGING</name><title>CHARGING</title><description></description><units></units><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[R$CAL_COUNTERS.CHARGING_AC]+[R$CAL_COUNTERS.CHARGING_DC]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>2</stdCode><discriminator></discriminator></variable><variable><id>DCBEB36B-FE88-48B4-B615-3031E0483243</id><isText>F</isText><name>AC_PHASES</name><title>AC_PHASES</title><description></description><units></units><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS_CFG.AC_AI1]&gt;=5,1,0)+if([R$CAL_COUNTERS_CFG.AC_AI2]&gt;=5,1,0)+if([R$CAL_COUNTERS_CFG.AC_AI3]&gt;=5,1,0)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>3</stdCode><discriminator></discriminator></variable><variable><id>D9FA4529-4FE3-485B-B355-9F3766C83DF3</id><isText>F</isText><name>AC_3P</name><title>AC_3P</title><description></description><units></units><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS.AC_PHASES]==0||[R$CAL_COUNTERS.AC_PHASES]==1,1,3)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>4</stdCode><discriminator></discriminator></variable></variables><lastStdCode>5</lastStdCode></variablesGroup><variablesGroup><id>FD4A315F-95C2-4438-A1FF-8D37B8533BC9</id><name>COUNTERS_CFG</name><description></description><savePeriod></savePeriod><save>F</save><variables><variable><id>F84FC1A9-9050-4284-B28B-F5F9FAD88A9F</id><isText>F</isText><name>STATE_DC</name><title>STATE_DC</title><description></description><units></units><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>[EVSE.DC.STATE]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>0</stdCode><discriminator></discriminator></variable><variable><id>CAD1801D-93C8-461A-8768-1348256E957F</id><isText>F</isText><name>STATE_AC</name><title>STATE_AC</title><description></description><units></units><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>[EVSE.AC.STATE]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>1</stdCode><discriminator></discriminator></variable><variable><id>6803308B-A4DD-4503-97C9-4E3335DF0022</id><isText>F</isText><name>AC_AI1</name><title>AC_AI1</title><description></description><units>#A</units><sampleMode>AVERAGE</sampleMode><userDecimals>1</userDecimals><value>[EVSE.AC.AI1]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>2</stdCode><discriminator></discriminator></variable><variable><id>6C00746E-6063-4711-BE54-DEE02C52E85E</id><isText>F</isText><name>AC_AI2</name><title>AC_AI2</title><description></description><units>#A</units><sampleMode>AVERAGE</sampleMode><userDecimals>1</userDecimals><value>[EVSE.AC.AI2]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>3</stdCode><discriminator></discriminator></variable><variable><id>73238464-66FB-4426-A3D1-39EF1B1BB5A1</id><isText>F</isText><name>AC_AI3</name><title>AC_AI3</title><description></description><units>#A</units><sampleMode>AVERAGE</sampleMode><userDecimals>1</userDecimals><value>[EVSE.AC.AI3]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>4</stdCode><discriminator></discriminator></variable></variables><lastStdCode>8</lastStdCode></variablesGroup><variablesGroup><id>ACE7015A-3C39-476D-9E94-A285DF401C17</id><name>BALANCE</name><description></description><savePeriod></savePeriod><save>F</save><variables><variable><id>26B7F606-3E89-4EFC-94E6-F010DDE7D0B6</id><isText>F</isText><name>STATE</name><title>STATE</title><description></description><units></units><sampleMode>AVERAGE</sampleMode><userDecimals>3</userDecimals><value>if([R$CAL_COUNTERS.CHARGING_AC]==0&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==0,1,if([R$CAL_COUNTERS.CHARGING_AC]==0&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==1,2,if([R$CAL_COUNTERS.CHARGING_AC]==1&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==0,3,if([R$CAL_COUNTERS.CHARGING_AC]==1&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==1&amp;&amp;[R$CAL_COUNTERS.AC_3P]==1,4,5))))</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>0</stdCode><discriminator></discriminator></variable></variables><lastStdCode>1</lastStdCode></variablesGroup><variablesGroup><id>170D338E-A80F-43E8-AF09-A3907BAC492D</id><name>MODE3_CFG</name><description></description><savePeriod></savePeriod><save>F</save><variables><variable><id>09623DD4-AC39-4FE2-9F50-C6B87525611B</id><isText>F</isText><name>PREDUCTION</name><title>PREDUCTION</title><description></description><units></units><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[AC-Mode 3.PREDUCTION]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>0</stdCode><discriminator></discriminator></variable><variable><id>3AB4F3E4-A88D-49AB-B418-8CE71976F1B9</id><isText>F</isText><name>INTENSITY</name><title>INTENSITY</title><description></description><units></units><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[AC-Mode 3.INTENSITY]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>1</stdCode><discriminator></discriminator></variable><variable><id>DDD30FFB-EB30-4C3B-A26D-95AEE987DD90</id><isText>F</isText><name>RCCC</name><title>RCCC</title><description></description><units></units><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[AC-Mode 3.RCCC]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>2</stdCode><discriminator></discriminator></variable></variables><lastStdCode>3</lastStdCode></variablesGroup><variablesGroup><id>8E7BABFC-EB86-4DEB-92C2-CC5F8427794D</id><name>MODE3</name><description></description><savePeriod></savePeriod><save>F</save><variables><variable><id>F3626C0C-2B4E-4D8A-9C43-51B318BE5C4A</id><isText>F</isText><name>CURRENT</name><title>CURRENT</title><description></description><units></units><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>min([R$CAL_MODE3_CFG.RCCC],[R$CAL_MODE3_CFG.INTENSITY])</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>0</stdCode><discriminator></discriminator></variable><variable><id>B50798D8-FF4F-4543-9F2F-A5A48A8EB955</id><isText>F</isText><name>PREDUCTION_16A</name><title>PREDUCTION_16A</title><description></description><units></units><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>round((1-(16/[R$CAL_MODE3.CURRENT]))*100)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue></counterMaxValue><stdCode>1</stdCode><discriminator></discriminator></variable></variables><lastStdCode>2</lastStdCode></variablesGroup></variablesGroups>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 180,
        "wires": [
            [
                "19c544c175619420"
            ]
        ]
    },
    {
        "id": "379bf9120705c6b7",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "taking variables from CP",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/calculated/getVariablesGroups.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "0c26502ad858655a",
                "d377ba01f81fa79f"
            ]
        ]
    },
    {
        "id": "b80ddfa3c3d1c2a8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IP",
        "payloadType": "global",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "40d2fe1f43fde161"
            ]
        ]
    },
    {
        "id": "0c26502ad858655a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "paso 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "19c544c175619420",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/variablesmodxml.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1190,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9eb269a999d18596",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</systemEvents>",
                "fromt": "str",
                "to": "<events><event><id>4BBC103B-3A4B-4D3F-88DB-EDBBE0EC6997</id><actions><activate><force><id>04519839-C42C-4502-8648-399099128CFA</id><variable>[AC-Mode 3.PREDUCTION]</variable><value>0</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>AC - RESET</name><description/><condition>([R$CAL_BALANCE.STATE]==1||[R$CAL_BALANCE.STATE]==3)&amp;&amp;[R$CAL_MODE3_CFG.PREDUCTION]!=0</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>D7D9CA27-960B-4D79-A6BD-427A99059200</eventsGroup><eventsGroup>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</eventsGroup></eventsGroups></event><event><id>2EFC8235-B78F-41BF-86C8-33664CCFA756</id><actions><activate><force><id>04519839-C42C-4502-8648-399099128CFA</id><variable>[AC-Mode 3.PREDUCTION]</variable><value>[R$CAL_MODE3.PREDUCTION_16A]</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>AC - SETTING 16A</name><description/><condition>([R$CAL_BALANCE.STATE]==4||[R$CAL_BALANCE.STATE]==5)&amp;&amp;[R$CAL_MODE3_CFG.PREDUCTION]!=[R$CAL_MODE3.PREDUCTION_16A]</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>D7D9CA27-960B-4D79-A6BD-427A99059200</eventsGroup><eventsGroup>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</eventsGroup></eventsGroups></event><event><id>80F90C6A-5123-430F-999E-0F20E6212544</id><actions><activate/><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CCS - RESET REQUEST</name><description/><condition>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]&gt;55</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>190B335B-6059-471C-A5E8-DF510F8B7E37</id><actions><activate><force><id>F153D922-9250-4E01-87FC-04B6F7712769</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>55</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CCS - RESETTING POWER REGULATION</name><description/><condition>[R$EVE_CCS - RESET REQUEST.ST]==1&amp;&amp;(mod([R$EVE_CCS - RESET REQUEST.TACT],5)==1)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>14D4FA4A-F0AF-4E86-8624-DC6ABAE0DB70</id><actions><activate/><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CHA - RESET REQUEST</name><description/><condition>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]&gt;55</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>077BBA42-4E6A-439A-B42F-AE36A7DD5AB5</id><actions><activate><force><id>F153D922-9250-4E01-87FC-04B6F7712769</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>55</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CHA - RESETTING POWER REGULATION</name><description/><condition>[R$EVE_CHA - RESET REQUEST.ST]==1&amp;&amp;(mod([R$EVE_CHA - RESET REQUEST.TACT],5)==1)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>B7A26770-CAA1-4D38-87D2-A49315D27146</id><actions><activate><force><id>4FB06694-80B0-429F-B000-1822C39C03C3</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>37</value></force><force><id>735BC357-F96C-4518-80AF-9D0CF2645479</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>37</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>DC - SETTING 39KW</name><description/><condition>([R$CAL_BALANCE.STATE]==3||[R$CAL_BALANCE.STATE]==5)&amp;&amp;([DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]!=37||[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]!=37)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>5A22D286-E501-478F-A6B1-0A5B941357AB</id><actions><activate><force><id>24A4DCC3-7842-4EB9-88DC-FD86F030170D</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>42</value></force><force><id>B699EC53-1567-4F3F-A381-ADF42E0D73F9</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>42</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>DC - SETTING 44KW</name><description/><condition>([R$CAL_BALANCE.STATE]==4)&amp;&amp;([DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]!=42||[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]!=42)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>FAE7B6B4-6DA2-4542-87DE-048C319CD5B9</id><actions><activate><force><id>478A7E33-4472-48E9-9A59-425DF67494CB</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>55</value></force><force><id>F1805EF6-DCA4-47DD-823F-4E069913F62D</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>55</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>DC - SETTING 50KW</name><description/><condition>(([R$CAL_BALANCE.STATE]==1||[R$CAL_BALANCE.STATE]==2))&amp;&amp;([DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]!=55||[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]!=55)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>799923A9-FB73-4BF4-81C4-2393F79CE396</id><actions><activate><force><id>04519839-C42C-4502-8648-399099128CFA</id><variable>[AC-Mode 3.PREDUCTION]</variable><value>50</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>AC - SETTING 50</name><description/><condition>[R$CAL_BALANCE.STATE]==2]&amp;&amp;([R$CAL_MODE3_CFG.PREDUCTION]!=[R$CAL_MODE3.PREDUCTION_16A])</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>D7D9CA27-960B-4D79-A6BD-427A99059200</eventsGroup><eventsGroup>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</eventsGroup></eventsGroups></event></events><eventsGroups><eventsGroup><id>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</id><name>AC</name></eventsGroup><eventsGroup><id>DBBA7AAD-058A-4C0D-8637-4187537072E0</id><name>DC</name></eventsGroup></eventsGroups></systemEvents>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 300,
        "wires": [
            [
                "d96bfdfbab23e9b1"
            ]
        ]
    },
    {
        "id": "f1ce5c4d207797f8",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "taking EVENTS from CP",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/events/get.xml?info=ALL",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "1910d04ed148d1ce",
                "9eb269a999d18596"
            ]
        ]
    },
    {
        "id": "09754c7e94d75e3b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "b8b33fc2f9170674"
            ]
        ]
    },
    {
        "id": "1910d04ed148d1ce",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "paso 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "d96bfdfbab23e9b1",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/eventsmodxml.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1190,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "17c1baa8e11b455b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6fc63cec412162d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IP",
        "payloadType": "global",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "ce68b2e57819e1d1"
            ]
        ]
    },
    {
        "id": "dc062fc0c1039be2",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Get ID",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/engine/lock.xml?editorVersion=4.300000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 500,
        "wires": [
            [
                "5c9d1895e9ad4cdd",
                "0d078f6209e464d0"
            ]
        ]
    },
    {
        "id": "5c9d1895e9ad4cdd",
        "type": "xml",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 770,
        "y": 500,
        "wires": [
            [
                "17c1baa8e11b455b"
            ]
        ]
    },
    {
        "id": "42902b2104419f38",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 840,
        "wires": []
    },
    {
        "id": "f2e64a1829a2819f",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "UnlockEngine",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/engine/unlock.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 840,
        "wires": [
            [
                "12340aee121a58b2"
            ]
        ]
    },
    {
        "id": "12340aee121a58b2",
        "type": "xml",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.id",
        "attr": "",
        "chr": "",
        "x": 750,
        "y": 840,
        "wires": [
            [
                "42902b2104419f38"
            ]
        ]
    },
    {
        "id": "32fcaa1f79d22bae",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "6f10afbd844502c7",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Sincronize",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/engine/synchronize.xml?setupBaudRate=F",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "9ab6d0c1b48af638"
            ]
        ]
    },
    {
        "id": "9ab6d0c1b48af638",
        "type": "xml",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.id",
        "attr": "",
        "chr": "",
        "x": 750,
        "y": 700,
        "wires": [
            [
                "32fcaa1f79d22bae"
            ]
        ]
    },
    {
        "id": "40d2fe1f43fde161",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "379bf9120705c6b7"
            ]
        ]
    },
    {
        "id": "b8b33fc2f9170674",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "f1ce5c4d207797f8"
            ]
        ]
    },
    {
        "id": "36c0cb8ac36e6f68",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IP",
        "payloadType": "global",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "d1b4bf531211c637"
            ]
        ]
    },
    {
        "id": "4bd385584aaf2a5c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IP",
        "payloadType": "global",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "a72b0130ad0376fa"
            ]
        ]
    },
    {
        "id": "0d078f6209e464d0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "paso 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "ce68b2e57819e1d1",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "dc062fc0c1039be2"
            ]
        ]
    },
    {
        "id": "d1b4bf531211c637",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 700,
        "wires": [
            [
                "6f10afbd844502c7"
            ]
        ]
    },
    {
        "id": "a72b0130ad0376fa",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 840,
        "wires": [
            [
                "f2e64a1829a2819f"
            ]
        ]
    },
    {
        "id": "0407f82ebe1b6ab6",
        "type": "inject",
        "z": "a46206cc1e0598e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "d4028818541cb412",
                "ee94e3b1f2f33008",
                "f91db81947c47b29",
                "9ec99ed26d69d4db",
                "b150bd1a28e4d696"
            ]
        ]
    },
    {
        "id": "d4028818541cb412",
        "type": "change",
        "z": "a46206cc1e0598e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IP",
                "pt": "global",
                "to": "0.0.0.0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ID",
                "pt": "global",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "countIP",
                "pt": "global",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "getVariables",
                "pt": "global",
                "to": "empty",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "modVariables",
                "pt": "global",
                "to": "empty",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "defaultVariables",
                "pt": "global",
                "to": "<variablesGroups> <id>30F15D1A-35AC-11EC-35AC-11EC84BCD14B</id> <idEngine>30F15D1A-35AC-11EC-35AC-11EC84BCD14B</idEngine> <id>3E96604B-AFE9-4DBF-8E3F-CC5787437CE0</id> <idEngine>3E96604B-AFE9-4DBF-8E3F-CC5787437CE0</idEngine></variablesGroups>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "defaultEvents",
                "pt": "global",
                "to": "<systemEvents><id>7B7D68BA-FFAB-6A65-B9C6-EED23B6A3DEA</id><idEngine>7B7D68BA-FFAB-6A65-B9C6-EED23B6A3DEA</idEngine></systemEvents>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ConfigureProcess",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "PBenabled",
                "pt": "global",
                "to": "INIT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fb60c544a091d2a7",
        "type": "ui_button",
        "z": "a46206cc1e0598e4",
        "name": "",
        "group": "8aeeb3bb62d960f6",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Power Balance",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "{{myicon}}",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "bb1f219c57082004",
                "838e111d530feb50",
                "16c11ba777157891"
            ]
        ]
    },
    {
        "id": "30d526598f1e0516",
        "type": "change",
        "z": "a46206cc1e0598e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "{{background}}",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3a2ed0f9f4910b6b",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "75e732ae2d4b8f33",
            "b33d3801457e3a04"
        ],
        "x": 695,
        "y": 140,
        "wires": [
            [
                "fb60c544a091d2a7",
                "82a8d16e853a11ff",
                "d23cd0213dc9c2a5"
            ]
        ]
    },
    {
        "id": "ee94e3b1f2f33008",
        "type": "change",
        "z": "a46206cc1e0598e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "5d36bf186a2f8771",
                "82a8d16e853a11ff",
                "5ea06395ec5d4469",
                "ba9f25522b0a36a9"
            ]
        ]
    },
    {
        "id": "5ea06395ec5d4469",
        "type": "ui_text",
        "z": "a46206cc1e0598e4",
        "group": "8aeeb3bb62d960f6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.statusCode}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "5d36bf186a2f8771",
        "type": "link out",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "5e246b175527bf26",
            "513a9cb823967dc5"
        ],
        "x": 555,
        "y": 280,
        "wires": []
    },
    {
        "id": "82a8d16e853a11ff",
        "type": "ui_text",
        "z": "a46206cc1e0598e4",
        "group": "8aeeb3bb62d960f6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reason",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "a40c4c2c9add9149",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "1c37b4b18d55aaf1",
            "977aeeb8bdcff595"
        ],
        "x": 695,
        "y": 80,
        "wires": [
            [
                "fb60c544a091d2a7",
                "82a8d16e853a11ff",
                "d23cd0213dc9c2a5"
            ]
        ]
    },
    {
        "id": "f91db81947c47b29",
        "type": "uuid",
        "z": "a46206cc1e0598e4",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "UUID variables",
        "field": "payload",
        "fieldType": "msg",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "c34c22c7dc641c08"
            ]
        ]
    },
    {
        "id": "c34c22c7dc641c08",
        "type": "change",
        "z": "a46206cc1e0598e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UUID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f6d093b4f056a94c",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "f6c05cfbf04ab6a8",
            "10f966e1845e06f4",
            "efdc519ed0ae3406",
            "a909a7eab957bb23",
            "d5fa89abdda376d6",
            "bf838a7ce1265f7a"
        ],
        "x": 815,
        "y": 60,
        "wires": [
            [
                "d23cd0213dc9c2a5",
                "fb60c544a091d2a7"
            ]
        ]
    },
    {
        "id": "45ebd274ecea4856",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [],
        "x": -35,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "9ec99ed26d69d4db",
        "type": "uuid",
        "z": "a46206cc1e0598e4",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "UUID events",
        "field": "payload",
        "fieldType": "msg",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "0e31b293fe9ee4aa"
            ]
        ]
    },
    {
        "id": "0e31b293fe9ee4aa",
        "type": "change",
        "z": "a46206cc1e0598e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UUIDevents",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bb1f219c57082004",
        "type": "link out",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "b6ceed4303e2f580",
            "df72ada7f343b0dd",
            "ef2fddad7bc7f43b"
        ],
        "x": 1195,
        "y": 160,
        "wires": []
    },
    {
        "id": "16c11ba777157891",
        "type": "function",
        "z": "a46206cc1e0598e4",
        "name": "",
        "func": "var st=msg.payload;\n\n\nif(st==true ){\n    msg.enabled = false;\n\n}\nelse{\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "a909a7eab957bb23"
            ]
        ]
    },
    {
        "id": "838e111d530feb50",
        "type": "debug",
        "z": "a46206cc1e0598e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 40,
        "wires": []
    },
    {
        "id": "d23cd0213dc9c2a5",
        "type": "ui_button",
        "z": "a46206cc1e0598e4",
        "name": "",
        "group": "8aeeb3bb62d960f6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Power Balance",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "{{myicon}}",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "2a810424f651d6b9",
                "16c11ba777157891"
            ]
        ]
    },
    {
        "id": "e5cdfb0e791f1d21",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "aca40951ba4ff3bb",
            "56bf2590f78e5e0c"
        ],
        "x": 735,
        "y": 320,
        "wires": [
            [
                "5ea06395ec5d4469"
            ]
        ]
    },
    {
        "id": "ba9f25522b0a36a9",
        "type": "link out",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "3a80780a27bb5702",
            "76fd863ff2225cec",
            "8d696e28b693bd04"
        ],
        "x": 555,
        "y": 200,
        "wires": []
    },
    {
        "id": "a909a7eab957bb23",
        "type": "link out",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "417107903a899a29",
            "03d59274d58009c2",
            "f6d093b4f056a94c",
            "665303d175d492df"
        ],
        "x": 1335,
        "y": 80,
        "wires": []
    },
    {
        "id": "2a810424f651d6b9",
        "type": "link out",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "1f1cae29ee5e11bf",
            "30266694f5d84623"
        ],
        "x": 1195,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9c7d94092c30c2a",
        "type": "ui_button",
        "z": "a46206cc1e0598e4",
        "name": "",
        "group": "8aeeb3bb62d960f6",
        "order": 13,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Clean",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1230,
        "y": 280,
        "wires": [
            [
                "15201bef3e70d0a8"
            ]
        ]
    },
    {
        "id": "665303d175d492df",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "4bac4643b48bbe88",
            "cecea75efd7cc32b",
            "c463f7e1a242bfee",
            "a909a7eab957bb23"
        ],
        "x": 1135,
        "y": 280,
        "wires": [
            [
                "f9c7d94092c30c2a"
            ]
        ]
    },
    {
        "id": "15201bef3e70d0a8",
        "type": "link out",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "ff19faf4eb23845e"
        ],
        "x": 1375,
        "y": 280,
        "wires": []
    },
    {
        "id": "ff19faf4eb23845e",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "15201bef3e70d0a8"
        ],
        "x": 145,
        "y": 200,
        "wires": [
            [
                "d4028818541cb412",
                "30d526598f1e0516",
                "ee94e3b1f2f33008",
                "f91db81947c47b29",
                "9ec99ed26d69d4db",
                "b150bd1a28e4d696"
            ]
        ]
    },
    {
        "id": "c11cf6de6ee4acb1",
        "type": "link in",
        "z": "a46206cc1e0598e4",
        "name": "",
        "links": [
            "1a921609367b8e9e"
        ],
        "x": 875,
        "y": 40,
        "wires": [
            [
                "fb60c544a091d2a7"
            ]
        ]
    },
    {
        "id": "578ca77a7f9551ef",
        "type": "ui_ui_control",
        "z": "a46206cc1e0598e4",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b150bd1a28e4d696",
        "type": "change",
        "z": "a46206cc1e0598e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " {\"group\":{\"hide\":[\"Static_Power_Balance_Configure_Power_Balance\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "578ca77a7f9551ef"
            ]
        ]
    },
    {
        "id": "7c8b8b92428a9bc4",
        "type": "ui_text_input",
        "z": "54e62c1d90c75bac",
        "name": "IP address",
        "label": "IP address",
        "tooltip": "Insert charger IP please",
        "group": "8aeeb3bb62d960f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "900",
        "topic": "1",
        "topicType": "msg",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "082fcf76cc475f52",
                "a1c3153c88771630",
                "520ca7d8513a45d1"
            ]
        ]
    },
    {
        "id": "a1c3153c88771630",
        "type": "function",
        "z": "54e62c1d90c75bac",
        "name": "",
        "func": "var ipin=msg.payload;\nglobal.set(\"IP\",ipin);\n\n\nvar myChar='.';\nvar countLetter=0;\n\nfor(var i=0; i<ipin.length; i++){\n    if(ipin.charAt(i) === myChar){\n        countLetter++;\n    }\n}\nglobal.set(\"countIP\",countLetter);\n\nif (countLetter == 3){\n    msg.background = \"blue\"\n    msg.enabled = true;\n    \n} \nelse {\n    msg.background = \"grey\"\n    msg.enabled = false;\n    \n}\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "7e0d0351e38669df",
                "c401ee0d521ee88d"
            ]
        ]
    },
    {
        "id": "082fcf76cc475f52",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "7e0d0351e38669df",
        "type": "ui_button",
        "z": "54e62c1d90c75bac",
        "name": "",
        "group": "8aeeb3bb62d960f6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Connection Test",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "a29091930fde6c50",
                "85b0e3d53ef0b63e"
            ]
        ]
    },
    {
        "id": "c401ee0d521ee88d",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "a29091930fde6c50",
        "type": "function",
        "z": "54e62c1d90c75bac",
        "name": "",
        "func": "var upgrade=msg.payload;\n\n\nif(upgrade==true){\n    return [msg,msg];\n}\nelse{\n    return [null,null];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 140,
        "wires": [
            [
                "7eef94c0f0a45493"
            ],
            [
                "7027510feba2a3e6"
            ]
        ]
    },
    {
        "id": "5b229ad97476ad9d",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</variablesGroups>",
                "fromt": "str",
                "to": "<variablesGroup><id>D3033086-F21B-4945-A47B-EF9FDC3A0095</id><name>COUNTERS</name><description/><savePeriod/><save>F</save><variables><variable><id>B1C3C855-E02F-4F16-BECA-1DF165FA136F</id><isText>F</isText><name>CHARGING_AC</name><title>CHARGING_AC</title><description/><units/><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS_CFG.STATE_AC]==6,1,0)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>0</stdCode><discriminator/></variable><variable><id>4B5A5654-9B59-4D2F-92D7-31A5BF17DB32</id><isText>F</isText><name>CHARGING_DC</name><title>CHARGING_DC</title><description/><units/><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS_CFG.STATE_DC]==6,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==13,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==14,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==15,1,0)+if([R$CAL_COUNTERS_CFG.STATE_DC]==16,1,0)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>1</stdCode><discriminator/></variable><variable><id>728EAA7D-BAD0-4640-8D7E-BCA853AD8BC6</id><isText>F</isText><name>CHARGING</name><title>CHARGING</title><description/><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[R$CAL_COUNTERS.CHARGING_AC]+[R$CAL_COUNTERS.CHARGING_DC]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>2</stdCode><discriminator/></variable><variable><id>DCBEB36B-FE88-48B4-B615-3031E0483243</id><isText>F</isText><name>AC_PHASES</name><title>AC_PHASES</title><description/><units/><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS_CFG.AC_AI1]&gt;=5,1,0)+if([R$CAL_COUNTERS_CFG.AC_AI2]&gt;=5,1,0)+if([R$CAL_COUNTERS_CFG.AC_AI3]&gt;=5,1,0)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>3</stdCode><discriminator/></variable><variable><id>D9FA4529-4FE3-485B-B355-9F3766C83DF3</id><isText>F</isText><name>AC_3P</name><title>AC_3P</title><description/><units/><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_COUNTERS.AC_PHASES]==0||[R$CAL_COUNTERS.AC_PHASES]==1,1,3)</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>4</stdCode><discriminator/></variable></variables><lastStdCode>6</lastStdCode></variablesGroup><variablesGroup><id>FD4A315F-95C2-4438-A1FF-8D37B8533BC9</id><name>COUNTERS_CFG</name><description/><savePeriod/><save>F</save><variables><variable><id>F84FC1A9-9050-4284-B28B-F5F9FAD88A9F</id><isText>F</isText><name>STATE_DC</name><title>STATE_DC</title><description/><units/><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>[EVSE.DC.STATE]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>0</stdCode><discriminator/></variable><variable><id>CAD1801D-93C8-461A-8768-1348256E957F</id><isText>F</isText><name>STATE_AC</name><title>STATE_AC</title><description/><units/><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>[EVSE.AC.STATE]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>1</stdCode><discriminator/></variable><variable><id>6803308B-A4DD-4503-97C9-4E3335DF0022</id><isText>F</isText><name>AC_AI1</name><title>AC_AI1</title><description/><units>#A</units><sampleMode>AVERAGE</sampleMode><userDecimals>1</userDecimals><value>[EVSE.AC.AI1]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>2</stdCode><discriminator/></variable><variable><id>6C00746E-6063-4711-BE54-DEE02C52E85E</id><isText>F</isText><name>AC_AI2</name><title>AC_AI2</title><description/><units>#A</units><sampleMode>AVERAGE</sampleMode><userDecimals>1</userDecimals><value>[EVSE.AC.AI2]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>3</stdCode><discriminator/></variable><variable><id>73238464-66FB-4426-A3D1-39EF1B1BB5A1</id><isText>F</isText><name>AC_AI3</name><title>AC_AI3</title><description/><units>#A</units><sampleMode>AVERAGE</sampleMode><userDecimals>1</userDecimals><value>[EVSE.AC.AI3]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>4</stdCode><discriminator/></variable></variables><lastStdCode>8</lastStdCode></variablesGroup><variablesGroup><id>ACE7015A-3C39-476D-9E94-A285DF401C17</id><name>BALANCE</name><description/><savePeriod/><save>F</save><variables><variable><id>26B7F606-3E89-4EFC-94E6-F010DDE7D0B6</id><isText>F</isText><name>STATE</name><title>STATE</title><description/><units/><sampleMode>AVERAGE</sampleMode><userDecimals>3</userDecimals><value>if([R$CAL_COUNTERS.CHARGING_AC]==0&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==0,1,if([R$CAL_COUNTERS.CHARGING_AC]==0&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==1,2,if([R$CAL_COUNTERS.CHARGING_AC]==1&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==0,3,if([R$CAL_COUNTERS.CHARGING_AC]==1&amp;&amp;[R$CAL_COUNTERS.CHARGING_DC]==1&amp;&amp;[R$CAL_COUNTERS.AC_3P]==1,4,5))))</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>0</stdCode><discriminator/></variable></variables><lastStdCode>1</lastStdCode></variablesGroup><variablesGroup><id>170D338E-A80F-43E8-AF09-A3907BAC492D</id><name>MODE3_CFG</name><description/><savePeriod/><save>F</save><variables><variable><id>09623DD4-AC39-4FE2-9F50-C6B87525611B</id><isText>F</isText><name>PREDUCTION</name><title>PREDUCTION</title><description/><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[AC-Mode 3.PREDUCTION]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>0</stdCode><discriminator/></variable><variable><id>3AB4F3E4-A88D-49AB-B418-8CE71976F1B9</id><isText>F</isText><name>INTENSITY</name><title>INTENSITY</title><description/><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[AC-Mode 3.INTENSITY]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>1</stdCode><discriminator/></variable><variable><id>DDD30FFB-EB30-4C3B-A26D-95AEE987DD90</id><isText>F</isText><name>RCCC</name><title>RCCC</title><description/><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>[AC-Mode 3.RCCC]</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>2</stdCode><discriminator/></variable></variables><lastStdCode>3</lastStdCode></variablesGroup><variablesGroup><id>8E7BABFC-EB86-4DEB-92C2-CC5F8427794D</id><name>MODE3</name><description/><savePeriod/><save>F</save><variables><variable><id>F3626C0C-2B4E-4D8A-9C43-51B318BE5C4A</id><isText>F</isText><name>CURRENT</name><title>CURRENT</title><description/><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>min([R$CAL_MODE3_CFG.RCCC],[R$CAL_MODE3_CFG.INTENSITY])</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>0</stdCode><discriminator/></variable><variable><id>57896AFE-9654-4B08-9799-A93637C136E2</id><isText>F</isText><name>PREDUCTION_AC</name><title>PREDUCTION_AC</title><description/><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>if([R$CAL_LIMITS.ACMAXCURRENT]&gt;[R$CAL_MODE3.CURRENT],0,if([R$CAL_LIMITS.ACMAXCURRENT]&lt;=51,round((1-([R$CAL_LIMITS.ACMAXCURRENT]/[R$CAL_MODE3.CURRENT]))*100),round((1-(([R$CAL_LIMITS.ACMAXCURRENT]/0.6) /([R$CAL_MODE3.CURRENT]/2.5)+64))*100)))</value><isForced>F</isForced><rememberLastValue>F</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>2</stdCode><discriminator/></variable></variables><lastStdCode>4</lastStdCode></variablesGroup><variablesGroup><id>65323976-1414-4083-B9E2-F66A11DC0038</id><name>LIMITS</name><description>CURRENT&amp;POWER LIMITS</description><savePeriod/><save>F</save><variables><variable><id>306790CE-DA2F-406D-AE9B-A176740EC0A2</id><isText>F</isText><name>ACMAXCURRENT</name><title>ACMaxCurrent</title><description>Max Current allowed in AC socket</description><units/><sampleMode>AVERAGE</sampleMode><userDecimals>0</userDecimals><value>16</value><isForced>T</isForced><rememberLastValue>T</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>0</stdCode><discriminator/></variable><variable><id>7EF0398B-99FB-41AE-841B-2AFACE7252AB</id><isText>F</isText><name>DCMAXPOWER</name><title>DCMaxPower</title><description>Max Power allowed in DC sockets (as per power input)</description><units/><sampleMode>LAST</sampleMode><userDecimals>1</userDecimals><value>50</value><isForced>T</isForced><rememberLastValue>T</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>1</stdCode><discriminator/></variable><variable><id>9396DB2E-0BDE-4FE9-BF7B-658594B4ACFA</id><isText>F</isText><name>DCACM</name><title>DCACM</title><description>DC CHARGING POWER WHEN AC MONOFASIC</description><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>44</value><isForced>T</isForced><rememberLastValue>T</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>3</stdCode><discriminator/></variable><variable><id>1B081B3C-29B9-43DE-A6C0-1017F59907C8</id><isText>F</isText><name>DCACT</name><title>DCACT</title><description>DC CHARGING POWER WHEN AC TRIFASIC</description><units/><sampleMode>LAST</sampleMode><userDecimals>0</userDecimals><value>37</value><isForced>T</isForced><rememberLastValue>T</rememberLastValue><isIncremental>F</isIncremental><isCounter>F</isCounter><counterMaxValue/><stdCode>4</stdCode><discriminator/></variable></variables><lastStdCode>5</lastStdCode></variablesGroup></variablesGroups>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 420,
        "wires": [
            [
                "818cfe5c276e12ee"
            ]
        ]
    },
    {
        "id": "232d14c866166ac4",
        "type": "http request",
        "z": "54e62c1d90c75bac",
        "name": "taking variables from CP",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/calculated/getVariablesGroups.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 470,
        "y": 560,
        "wires": [
            [
                "37056fcdeb7bb01a",
                "c6eb0da3ac73bdce",
                "5b229ad97476ad9d",
                "56bf2590f78e5e0c",
                "415e2d4d2e84aebc"
            ]
        ]
    },
    {
        "id": "7eef94c0f0a45493",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "232d14c866166ac4"
            ]
        ]
    },
    {
        "id": "10ff99eff71e51c3",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</systemEvents>",
                "fromt": "str",
                "to": "<events><event><id>4BBC103B-3A4B-4D3F-88DB-EDBBE0EC6997</id><actions><activate><force><id>04519839-C42C-4502-8648-399099128CFA</id><variable>[AC-Mode 3.PREDUCTION]</variable><value>0</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>AC - RESET</name><description/><condition>([R$CAL_BALANCE.STATE]==1||[R$CAL_BALANCE.STATE]==3)&amp;&amp;[R$CAL_MODE3_CFG.PREDUCTION]!=0</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>D7D9CA27-960B-4D79-A6BD-427A99059200</eventsGroup><eventsGroup>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</eventsGroup></eventsGroups></event><event><id>2EFC8235-B78F-41BF-86C8-33664CCFA756</id><actions><activate><force><id>04519839-C42C-4502-8648-399099128CFA</id><variable>[AC-Mode 3.PREDUCTION]</variable><value>[R$CAL_MODE3.PREDUCTION_AC]</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>AC - CURRENT SETTING </name><description/><condition>([R$CAL_BALANCE.STATE]==4||[R$CAL_BALANCE.STATE]==5)&amp;&amp;[R$CAL_MODE3_CFG.PREDUCTION]!=[R$CAL_MODE3.PREDUCTION_AC]</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>D7D9CA27-960B-4D79-A6BD-427A99059200</eventsGroup><eventsGroup>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</eventsGroup></eventsGroups></event><event><id>80F90C6A-5123-430F-999E-0F20E6212544</id><actions><activate/><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CCS - RESET REQUEST</name><description/><condition>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]&gt;([R$CAL_LIMITS.DCMAXPOWER]+5)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>190B335B-6059-471C-A5E8-DF510F8B7E37</id><actions><activate><force><id>F153D922-9250-4E01-87FC-04B6F7712769</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>[R$CAL_LIMITS.DCMAXPOWER]+5</value></force></activate><while/><deactivate/><acknowledge>[R$CAL_LIMITS.DCMAXPOWER]+5</acknowledge></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CCS - RESETTING POWER REGULATION</name><description/><condition>[R$EVE_CCS - RESET REQUEST.ST]==1&amp;&amp;(mod([R$EVE_CCS - RESET REQUEST.TACT],5)==1)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>14D4FA4A-F0AF-4E86-8624-DC6ABAE0DB70</id><actions><activate/><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CHA - RESET REQUEST</name><description/><condition>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]&gt;([R$CAL_LIMITS.DCMAXPOWER]+5)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>077BBA42-4E6A-439A-B42F-AE36A7DD5AB5</id><actions><activate><force><id>F153D922-9250-4E01-87FC-04B6F7712769</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>[R$CAL_LIMITS.DCMAXPOWER]+5</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>CHA - RESETTING POWER REGULATION</name><description/><condition>[R$EVE_CHA - RESET REQUEST.ST]==1&amp;&amp;(mod([R$EVE_CHA - RESET REQUEST.TACT],5)==1)</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>799923A9-FB73-4BF4-81C4-2393F79CE396</id><actions><activate><force><id>04519839-C42C-4502-8648-399099128CFA</id><variable>[AC-Mode 3.PREDUCTION]</variable><value>50</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>AC - SETTING 50</name><description/><condition>[R$CAL_BALANCE.STATE]==2]&amp;&amp;([R$CAL_MODE3_CFG.PREDUCTION]!=[R$CAL_MODE3.PREDUCTION_AC])</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>D7D9CA27-960B-4D79-A6BD-427A99059200</eventsGroup><eventsGroup>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</eventsGroup></eventsGroups></event><event><id>B7A26770-CAA1-4D38-87D2-A49315D27146</id><actions><activate><force><id>4FB06694-80B0-429F-B000-1822C39C03C3</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>([R$CAL_LIMITS.DCACT]-2)</value></force><force><id>735BC357-F96C-4518-80AF-9D0CF2645479</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>([R$CAL_LIMITS.DCACT]-2)</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>DC - WHEN AC T</name><description/><condition>([R$CAL_BALANCE.STATE]==3||[R$CAL_BALANCE.STATE]==5)&amp;&amp;(([DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]!=([R$CAL_LIMITS.DCACT]-2))||([DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]!=([R$CAL_LIMITS.DCACT]-2)))</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>5A22D286-E501-478F-A6B1-0A5B941357AB</id><actions><activate><force><id>24A4DCC3-7842-4EB9-88DC-FD86F030170D</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>[R$CAL_LIMITS.DCACM]-2</value></force><force><id>B699EC53-1567-4F3F-A381-ADF42E0D73F9</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>[R$CAL_LIMITS.DCACM]-2</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>DC - WHEN AC M</name><description/><condition>([R$CAL_BALANCE.STATE]==4)&amp;&amp;(([DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]!=([R$CAL_LIMITS.DCACM]-2))||([DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]!=([R$CAL_LIMITS.DCACM]-2)))</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event><event><id>FAE7B6B4-6DA2-4542-87DE-048C319CD5B9</id><actions><activate><force><id>478A7E33-4472-48E9-9A59-425DF67494CB</id><variable>[DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]</variable><value>[R$CAL_LIMITS.DCMAXPOWER]+5</value></force><force><id>F1805EF6-DCA4-47DD-823F-4E069913F62D</id><variable>[DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]</variable><value>[R$CAL_LIMITS.DCMAXPOWER]+5</value></force></activate><while/><deactivate/><acknowledge/></actions><clientActions><activate/><while/><deactivate/><acknowledge/></clientActions><name>DC - WHEN ONLY DC</name><description/><condition>(([R$CAL_BALANCE.STATE]==1||[R$CAL_BALANCE.STATE]==2))&amp;&amp;(([DC-Mode 4.COMBO_POWER_REGULATION_LIMIT]!=([R$CAL_LIMITS.DCMAXPOWER]+5))||([DC-Mode 4.CHADEMO_POWER_REGULATION_LIMIT]!=([R$CAL_LIMITS.DCMAXPOWER]+5)))</condition><notify>F</notify><record>F</record><delayToActivate>0</delayToActivate><delayToDeactivate>0</delayToDeactivate><annotation/><deaAnnotation/><ackAnnotation/><rssActivate>F</rssActivate><rssDeactivate>F</rssDeactivate><rssAcknowledge>F</rssAcknowledge><eventsGroups><eventsGroup>8D02AB12-DC8E-4942-9960-74DF6F561BA7</eventsGroup><eventsGroup>DBBA7AAD-058A-4C0D-8637-4187537072E0</eventsGroup></eventsGroups></event></events><eventsGroups><eventsGroup><id>A40A487E-1548-4E90-9AA6-B32BE3E9DCD7</id><name>AC</name></eventsGroup><eventsGroup><id>DBBA7AAD-058A-4C0D-8637-4187537072E0</id><name>DC</name></eventsGroup></eventsGroups></systemEvents>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 660,
        "wires": [
            [
                "5485faa3732b7deb"
            ]
        ]
    },
    {
        "id": "f1ab2379f1e76f4b",
        "type": "http request",
        "z": "54e62c1d90c75bac",
        "name": "taking EVENTS from CP",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/events/get.xml?info=ALL",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 660,
        "wires": [
            [
                "1d5b734f40df6b89",
                "10ff99eff71e51c3"
            ]
        ]
    },
    {
        "id": "1d5b734f40df6b89",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "paso 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "7027510feba2a3e6",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 660,
        "wires": [
            [
                "f1ab2379f1e76f4b"
            ]
        ]
    },
    {
        "id": "c6eb0da3ac73bdce",
        "type": "function",
        "z": "54e62c1d90c75bac",
        "name": "",
        "func": "\nvar st=msg.statusCode;\n\n\nif (st == 200){\n    msg.payload= \"OK\";\n    msg.background = \"green\";\n    msg.enabled = true;\n}\nelse{\n    msg.payload=\"Connection Error\";\n    msg.background = \"grey\"\n    msg.enabled = false;\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 560,
        "wires": [
            [
                "b33d3801457e3a04"
            ]
        ]
    },
    {
        "id": "37056fcdeb7bb01a",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "paso 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "513a9cb823967dc5",
        "type": "link in",
        "z": "54e62c1d90c75bac",
        "name": "",
        "links": [
            "5d36bf186a2f8771"
        ],
        "x": 175,
        "y": 140,
        "wires": [
            [
                "7c8b8b92428a9bc4"
            ]
        ]
    },
    {
        "id": "b33d3801457e3a04",
        "type": "link out",
        "z": "54e62c1d90c75bac",
        "name": "",
        "links": [
            "3a2ed0f9f4910b6b"
        ],
        "x": 875,
        "y": 560,
        "wires": []
    },
    {
        "id": "520ca7d8513a45d1",
        "type": "function",
        "z": "54e62c1d90c75bac",
        "name": "",
        "func": "var upgrade=msg.payload;\nvar count = global.get(\"countIP\");\n\nif(count != 3 ){\n    msg.background = \"grey\";\n    msg.enabled = false;\n    msg.payload=\" \";\n    msg.statusCode=0;\n}\nelse{\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "977aeeb8bdcff595"
            ]
        ]
    },
    {
        "id": "977aeeb8bdcff595",
        "type": "link out",
        "z": "54e62c1d90c75bac",
        "name": "",
        "links": [
            "a40c4c2c9add9149"
        ],
        "x": 595,
        "y": 80,
        "wires": []
    },
    {
        "id": "c451374afa22b1e1",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "modVariables",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "818cfe5c276e12ee",
        "type": "xml",
        "z": "54e62c1d90c75bac",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "14248d6b6ce59a69",
                "cba515f5ca0147bb"
            ]
        ]
    },
    {
        "id": "14248d6b6ce59a69",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.variablesGroups.id[0]",
                "pt": "msg",
                "to": "UUID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "8eac342a8b85f244",
                "46041770bbdbd2e2"
            ]
        ]
    },
    {
        "id": "8eac342a8b85f244",
        "type": "xml",
        "z": "54e62c1d90c75bac",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1310,
        "y": 340,
        "wires": [
            [
                "3adc6ee7681e4a86",
                "c451374afa22b1e1"
            ]
        ]
    },
    {
        "id": "3adc6ee7681e4a86",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 320,
        "wires": []
    },
    {
        "id": "46041770bbdbd2e2",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 420,
        "wires": []
    },
    {
        "id": "cba515f5ca0147bb",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "a4427df4193b59d4",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "modEvents",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5485faa3732b7deb",
        "type": "xml",
        "z": "54e62c1d90c75bac",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 890,
        "y": 660,
        "wires": [
            [
                "aa0eea2a630a5a2b",
                "f8490e0d81277acf"
            ]
        ]
    },
    {
        "id": "aa0eea2a630a5a2b",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.systemEvents.id[0]",
                "pt": "msg",
                "to": "UUIDevents",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 660,
        "wires": [
            [
                "ecd06f0bb1e16739",
                "3cb89294b86d2c6a"
            ]
        ]
    },
    {
        "id": "ecd06f0bb1e16739",
        "type": "xml",
        "z": "54e62c1d90c75bac",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1370,
        "y": 660,
        "wires": [
            [
                "d66aceb656f4b6dd",
                "a4427df4193b59d4"
            ]
        ]
    },
    {
        "id": "d66aceb656f4b6dd",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 640,
        "wires": []
    },
    {
        "id": "3cb89294b86d2c6a",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 720,
        "wires": []
    },
    {
        "id": "f8490e0d81277acf",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "56bf2590f78e5e0c",
        "type": "link out",
        "z": "54e62c1d90c75bac",
        "name": "",
        "links": [
            "e5cdfb0e791f1d21"
        ],
        "x": 675,
        "y": 460,
        "wires": []
    },
    {
        "id": "85b0e3d53ef0b63e",
        "type": "function",
        "z": "54e62c1d90c75bac",
        "name": "",
        "func": "var connTest=msg.payload;\n\n\nif(connTest==true ){\n    msg.payload=\"\";\n\n}\nelse{\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 100,
        "wires": [
            [
                "fc946a575ea970f4"
            ]
        ]
    },
    {
        "id": "fc946a575ea970f4",
        "type": "link out",
        "z": "54e62c1d90c75bac",
        "name": "",
        "mode": "link",
        "links": [
            "8d696e28b693bd04",
            "76fd863ff2225cec"
        ],
        "x": 1005,
        "y": 100,
        "wires": []
    },
    {
        "id": "415e2d4d2e84aebc",
        "type": "xml",
        "z": "54e62c1d90c75bac",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 730,
        "y": 500,
        "wires": [
            [
                "7cc95c5e746555ae",
                "e23eee383eb83b1c"
            ]
        ]
    },
    {
        "id": "7cc95c5e746555ae",
        "type": "change",
        "z": "54e62c1d90c75bac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PBenabled",
                "pt": "global",
                "to": "payload.variablesGroups.variablesGroup[0].variables[0].variable[1].name[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 500,
        "wires": [
            [
                "ae0f5d5e23324cb3"
            ]
        ]
    },
    {
        "id": "ae0f5d5e23324cb3",
        "type": "function",
        "z": "54e62c1d90c75bac",
        "name": "",
        "func": "var PB=global.get(\"PBenabled\");\n\nif (PB != \"INIT\"){\n    msg.enabled = false;\n    msg.background = \"grey\";\n    msg.payload =  {\"group\":{\"show\":[\"Static_Power_Balance_Configure_Power_Balance\"]}};\n}\nelse {\n     msg.payload = {\"group\":{\"hide\":[\"Static_Power_Balance_Configure_Power_Balance\"]}};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "1a921609367b8e9e",
                "20e95c899dfb7ba5"
            ]
        ]
    },
    {
        "id": "1a921609367b8e9e",
        "type": "link out",
        "z": "54e62c1d90c75bac",
        "name": "",
        "mode": "link",
        "links": [
            "c11cf6de6ee4acb1"
        ],
        "x": 1275,
        "y": 520,
        "wires": []
    },
    {
        "id": "e23eee383eb83b1c",
        "type": "debug",
        "z": "54e62c1d90c75bac",
        "name": "PBtest",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "20e95c899dfb7ba5",
        "type": "ui_ui_control",
        "z": "54e62c1d90c75bac",
        "name": "",
        "events": "all",
        "x": 1310,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "214477893023d06b",
        "type": "debug",
        "z": "dac7d70d7943e313",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ac7d6630862e9f6",
        "type": "http request",
        "z": "dac7d70d7943e313",
        "name": "Get ID",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/engine/lock.xml?editorVersion=4.300000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "74ac980f333447fc",
                "100412dd9fe47b0b"
            ]
        ]
    },
    {
        "id": "74ac980f333447fc",
        "type": "xml",
        "z": "dac7d70d7943e313",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 650,
        "y": 160,
        "wires": [
            [
                "056547379b79b555"
            ]
        ]
    },
    {
        "id": "100412dd9fe47b0b",
        "type": "debug",
        "z": "dac7d70d7943e313",
        "name": "paso 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "5cae400d51b7531b",
        "type": "change",
        "z": "dac7d70d7943e313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "5ac7d6630862e9f6",
                "4fea3aa244f729a3"
            ]
        ]
    },
    {
        "id": "056547379b79b555",
        "type": "change",
        "z": "dac7d70d7943e313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ID",
                "pt": "global",
                "to": "payload.engineLockResponse.id[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "214477893023d06b",
                "6a6b551cc21e4f87"
            ]
        ]
    },
    {
        "id": "78509e6bdbaa2e7b",
        "type": "change",
        "z": "dac7d70d7943e313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "modVariables",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "ba765f74ac9664dd"
            ]
        ]
    },
    {
        "id": "ba765f74ac9664dd",
        "type": "http request",
        "z": "dac7d70d7943e313",
        "name": "setVariablesGroups",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/calculated/setVariablesGroups.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "611bf10c31bc6422",
                "29832a69adde7f92"
            ]
        ]
    },
    {
        "id": "611bf10c31bc6422",
        "type": "debug",
        "z": "dac7d70d7943e313",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "6a6b551cc21e4f87",
        "type": "function",
        "z": "dac7d70d7943e313",
        "name": "",
        "func": "var id = global.get(\"ID\");\n\n\nif(id != 0){\n    node.warn('estic aqui');\n    msg.background = \"blue\";\n    msg.payload = \"Loading 10%\";\n}\nelse{\n    node.warn('estic alla');\n    msg.background = \"red\";\n    msg.enabled = false;\n    msg.payload = \"Failed to get ID\"; \n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 160,
        "wires": [
            [
                "90dc2e731283af2d",
                "41efe6825ed47bb9"
            ]
        ]
    },
    {
        "id": "4fea3aa244f729a3",
        "type": "debug",
        "z": "dac7d70d7943e313",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "90dc2e731283af2d",
        "type": "ui_text",
        "z": "dac7d70d7943e313",
        "group": "8aeeb3bb62d960f6",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Upgrade Status",
        "label": "Process",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "29832a69adde7f92",
        "type": "function",
        "z": "dac7d70d7943e313",
        "name": "",
        "func": "var st=msg.statusCode;\n\n\nif (st == 200){\n   msg.payload=\"Loading 50%\";\n   \n}\nelse{\n    msg.payload=\"Failed to load variables\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "56cd69756e814ea5",
                "7ac84ad96b910522"
            ]
        ]
    },
    {
        "id": "56cd69756e814ea5",
        "type": "change",
        "z": "dac7d70d7943e313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "modEvents",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "191d1fdbb7474913"
            ]
        ]
    },
    {
        "id": "191d1fdbb7474913",
        "type": "http request",
        "z": "dac7d70d7943e313",
        "name": "setEvents",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/events/set.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 980,
        "y": 340,
        "wires": [
            [
                "a09d8efec33e177d",
                "3f8bfa62a7b8c31e",
                "2d5e5b3aafc9e8fd"
            ]
        ]
    },
    {
        "id": "41efe6825ed47bb9",
        "type": "link out",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "ea8087b8aa4a706f"
        ],
        "x": 1085,
        "y": 140,
        "wires": []
    },
    {
        "id": "ea8087b8aa4a706f",
        "type": "link in",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "41efe6825ed47bb9"
        ],
        "x": 95,
        "y": 340,
        "wires": [
            [
                "78509e6bdbaa2e7b"
            ]
        ]
    },
    {
        "id": "a09d8efec33e177d",
        "type": "function",
        "z": "dac7d70d7943e313",
        "name": "",
        "func": "var st=msg.statusCode;\n\n\nif (st == 200){\n   msg.payload=\"Loading 80%\";\n   \n}\nelse{\n    msg.payload=\"Failed to load variables\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "ce70fed2d0f4535c"
            ]
        ]
    },
    {
        "id": "7ac84ad96b910522",
        "type": "link out",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "8d696e28b693bd04",
            "417107903a899a29"
        ],
        "x": 735,
        "y": 400,
        "wires": []
    },
    {
        "id": "8d696e28b693bd04",
        "type": "link in",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "7ac84ad96b910522",
            "ce70fed2d0f4535c",
            "c463f7e1a242bfee",
            "ba9f25522b0a36a9",
            "bf9acf15db7697d1",
            "fc946a575ea970f4"
        ],
        "x": 1015,
        "y": 240,
        "wires": [
            [
                "90dc2e731283af2d"
            ]
        ]
    },
    {
        "id": "ce70fed2d0f4535c",
        "type": "link out",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "8d696e28b693bd04",
            "83dabb35b0994992",
            "417107903a899a29"
        ],
        "x": 1225,
        "y": 400,
        "wires": []
    },
    {
        "id": "ef2fddad7bc7f43b",
        "type": "link in",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "bb1f219c57082004"
        ],
        "x": 195,
        "y": 160,
        "wires": [
            [
                "5cae400d51b7531b"
            ]
        ]
    },
    {
        "id": "af97f625de79bdd5",
        "type": "http request",
        "z": "dac7d70d7943e313",
        "name": "UnlockEngine",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/engine/unlock.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "dea8e83b10d63a1a",
                "760940a6170813c7"
            ]
        ]
    },
    {
        "id": "bba0aa71d6fee31e",
        "type": "http request",
        "z": "dac7d70d7943e313",
        "name": "Sincronize",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/engine/synchronize.xml?setupBaudRate=F",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "71fcc065c1dbde81",
                "a0e6a7cb784d1147",
                "d05331d47b2266ff"
            ]
        ]
    },
    {
        "id": "f15b83912d8a0534",
        "type": "change",
        "z": "dac7d70d7943e313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 460,
        "wires": [
            [
                "bba0aa71d6fee31e"
            ]
        ]
    },
    {
        "id": "b4dafd876c8d683b",
        "type": "change",
        "z": "dac7d70d7943e313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 600,
        "wires": [
            [
                "af97f625de79bdd5"
            ]
        ]
    },
    {
        "id": "3f8bfa62a7b8c31e",
        "type": "link out",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "1420448f47dd0768"
        ],
        "x": 1075,
        "y": 400,
        "wires": []
    },
    {
        "id": "1420448f47dd0768",
        "type": "link in",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "3f8bfa62a7b8c31e"
        ],
        "x": 95,
        "y": 460,
        "wires": [
            [
                "f15b83912d8a0534"
            ]
        ]
    },
    {
        "id": "71fcc065c1dbde81",
        "type": "function",
        "z": "dac7d70d7943e313",
        "name": "",
        "func": "var st=msg.statusCode;\n\n\nif (st == 200){\n   msg.payload=\"Loading 95%\";\n   \n}\nelse{\n    msg.payload=\"Failed to synchronize\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 460,
        "wires": [
            [
                "bf9acf15db7697d1"
            ]
        ]
    },
    {
        "id": "ab93b4391c0da5bb",
        "type": "link in",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "a0e6a7cb784d1147"
        ],
        "x": 95,
        "y": 600,
        "wires": [
            [
                "b4dafd876c8d683b"
            ]
        ]
    },
    {
        "id": "a0e6a7cb784d1147",
        "type": "link out",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "ab93b4391c0da5bb"
        ],
        "x": 545,
        "y": 520,
        "wires": []
    },
    {
        "id": "dea8e83b10d63a1a",
        "type": "function",
        "z": "dac7d70d7943e313",
        "name": "",
        "func": "var st=msg.statusCode;\n\n\nif (st == 200){\n   msg.payload=\"Completed successfully\";\n   msg.enabled=true\n   msg.background = \"green\"\n   \n}\nelse{\n    msg.payload=\"Failed\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 600,
        "wires": [
            [
                "c463f7e1a242bfee"
            ]
        ]
    },
    {
        "id": "c463f7e1a242bfee",
        "type": "link out",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "8d696e28b693bd04",
            "665303d175d492df"
        ],
        "x": 855,
        "y": 600,
        "wires": []
    },
    {
        "id": "2d5e5b3aafc9e8fd",
        "type": "debug",
        "z": "dac7d70d7943e313",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 300,
        "wires": []
    },
    {
        "id": "d05331d47b2266ff",
        "type": "debug",
        "z": "dac7d70d7943e313",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "760940a6170813c7",
        "type": "debug",
        "z": "dac7d70d7943e313",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 680,
        "wires": []
    },
    {
        "id": "bf9acf15db7697d1",
        "type": "link out",
        "z": "dac7d70d7943e313",
        "name": "",
        "links": [
            "417107903a899a29",
            "8d696e28b693bd04"
        ],
        "x": 715,
        "y": 460,
        "wires": []
    },
    {
        "id": "00d465cc23636c2b",
        "type": "debug",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "5336b3bd56ad44ec",
        "type": "http request",
        "z": "5fb63eedcfeaa0c5",
        "name": "Get ID",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/engine/lock.xml?editorVersion=4.300000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "aadafa206a8d8a86",
                "78899f751aaabf11"
            ]
        ]
    },
    {
        "id": "aadafa206a8d8a86",
        "type": "xml",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "166699c5999b68e0"
            ]
        ]
    },
    {
        "id": "78899f751aaabf11",
        "type": "debug",
        "z": "5fb63eedcfeaa0c5",
        "name": "paso 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c3cbbbb6f10be1b",
        "type": "change",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "5336b3bd56ad44ec",
                "ff661a44050c2667"
            ]
        ]
    },
    {
        "id": "166699c5999b68e0",
        "type": "change",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ID",
                "pt": "global",
                "to": "payload.engineLockResponse.id[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 240,
        "wires": [
            [
                "00d465cc23636c2b",
                "77c1225a9e64bd9b"
            ]
        ]
    },
    {
        "id": "f823ac4f0ce9dfd3",
        "type": "change",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "defaultVariables",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "73c6cbbc520dfca2"
            ]
        ]
    },
    {
        "id": "73c6cbbc520dfca2",
        "type": "http request",
        "z": "5fb63eedcfeaa0c5",
        "name": "setVariablesGroups",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/calculated/setVariablesGroups.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "29b76e077413f06e",
                "890598098fa0ac1f"
            ]
        ]
    },
    {
        "id": "29b76e077413f06e",
        "type": "debug",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "77c1225a9e64bd9b",
        "type": "function",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "func": "var id = global.get(\"ID\");\n\n\nif(id != 0){\n    node.warn('estic aqui');\n    msg.background = \"blue\";\n    msg.payload = \"Loading 10%\";\n}\nelse{\n    node.warn('estic alla');\n    msg.background = \"red\";\n    msg.enabled = true;\n    msg.payload = \"Failed to get ID\"; \n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 240,
        "wires": [
            [
                "e5a19b32b9cc21a4",
                "a8fdb00f40b7943c"
            ]
        ]
    },
    {
        "id": "ff661a44050c2667",
        "type": "debug",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "e5a19b32b9cc21a4",
        "type": "ui_text",
        "z": "5fb63eedcfeaa0c5",
        "group": "8aeeb3bb62d960f6",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Des PB process",
        "label": "Process",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 280,
        "wires": []
    },
    {
        "id": "890598098fa0ac1f",
        "type": "function",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "func": "var st=msg.statusCode;\n\n\nif (st == 200){\n   msg.payload=\"Loading 50%\";\n   \n}\nelse{\n    msg.payload=\"Failed to load variables\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "0663f0d1c6d4f85c",
                "10f966e1845e06f4"
            ]
        ]
    },
    {
        "id": "0663f0d1c6d4f85c",
        "type": "change",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "defaultEvents",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 420,
        "wires": [
            [
                "58ae3fe1bc61271b"
            ]
        ]
    },
    {
        "id": "58ae3fe1bc61271b",
        "type": "http request",
        "z": "5fb63eedcfeaa0c5",
        "name": "setEvents",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/events/set.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "424d60ed4d119c28",
                "7fa06d95b7a5293e"
            ]
        ]
    },
    {
        "id": "a8fdb00f40b7943c",
        "type": "link out",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "503eba9a4c692567"
        ],
        "x": 1115,
        "y": 240,
        "wires": []
    },
    {
        "id": "503eba9a4c692567",
        "type": "link in",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "a8fdb00f40b7943c"
        ],
        "x": 115,
        "y": 420,
        "wires": [
            [
                "f823ac4f0ce9dfd3"
            ]
        ]
    },
    {
        "id": "424d60ed4d119c28",
        "type": "function",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "func": "var st=msg.statusCode;\n\n\nif (st == 200){\n   msg.payload=\"Loading 80%\";\n   \n}\nelse{\n    msg.payload=\"Failed to load variables\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 420,
        "wires": [
            [
                "efdc519ed0ae3406"
            ]
        ]
    },
    {
        "id": "10f966e1845e06f4",
        "type": "link out",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "76fd863ff2225cec",
            "f6d093b4f056a94c"
        ],
        "x": 755,
        "y": 480,
        "wires": []
    },
    {
        "id": "76fd863ff2225cec",
        "type": "link in",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "10f966e1845e06f4",
            "efdc519ed0ae3406",
            "d5fa89abdda376d6",
            "cecea75efd7cc32b",
            "ba9f25522b0a36a9",
            "fc946a575ea970f4"
        ],
        "x": 1035,
        "y": 340,
        "wires": [
            [
                "e5a19b32b9cc21a4"
            ]
        ]
    },
    {
        "id": "efdc519ed0ae3406",
        "type": "link out",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "f6d093b4f056a94c",
            "76fd863ff2225cec"
        ],
        "x": 1235,
        "y": 480,
        "wires": []
    },
    {
        "id": "99c19fed6c85293e",
        "type": "http request",
        "z": "5fb63eedcfeaa0c5",
        "name": "UnlockEngine",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/engine/unlock.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 500,
        "y": 680,
        "wires": [
            [
                "8e78d77420cbb39c",
                "236197bc44f66806"
            ]
        ]
    },
    {
        "id": "7e23ed1a885ad690",
        "type": "http request",
        "z": "5fb63eedcfeaa0c5",
        "name": "Sincronize",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/{{postid}}/engine/synchronize.xml?setupBaudRate=F",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "409cdaecdf70d2b4",
                "7f426e313629423a"
            ]
        ]
    },
    {
        "id": "2b9d15ce5d49f204",
        "type": "change",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "7e23ed1a885ad690"
            ]
        ]
    },
    {
        "id": "48621a03415fddf0",
        "type": "change",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "postid",
                "pt": "msg",
                "to": "ID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 680,
        "wires": [
            [
                "99c19fed6c85293e"
            ]
        ]
    },
    {
        "id": "7fa06d95b7a5293e",
        "type": "link out",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "d9a4987021f7ee0e"
        ],
        "x": 1095,
        "y": 480,
        "wires": []
    },
    {
        "id": "d9a4987021f7ee0e",
        "type": "link in",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "7fa06d95b7a5293e"
        ],
        "x": 115,
        "y": 540,
        "wires": [
            [
                "2b9d15ce5d49f204"
            ]
        ]
    },
    {
        "id": "409cdaecdf70d2b4",
        "type": "function",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "func": "var st=msg.statusCode;\n\n\nif (st == 200){\n   msg.payload=\"Loading 95%\";\n   \n}\nelse{\n    msg.payload=\"Failed to synchronize\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 540,
        "wires": [
            [
                "d5fa89abdda376d6"
            ]
        ]
    },
    {
        "id": "d5fa89abdda376d6",
        "type": "link out",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "76fd863ff2225cec",
            "f6d093b4f056a94c"
        ],
        "x": 735,
        "y": 540,
        "wires": []
    },
    {
        "id": "5eb6a2cc103d6110",
        "type": "link in",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "7f426e313629423a"
        ],
        "x": 115,
        "y": 680,
        "wires": [
            [
                "48621a03415fddf0"
            ]
        ]
    },
    {
        "id": "7f426e313629423a",
        "type": "link out",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "5eb6a2cc103d6110"
        ],
        "x": 555,
        "y": 580,
        "wires": []
    },
    {
        "id": "8e78d77420cbb39c",
        "type": "debug",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "236197bc44f66806",
        "type": "function",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "func": "var st=msg.statusCode;\nvar pbTestReset = INIT;\n\nif (st == 200){\n   msg.payload=\"Completed successfully\";\n   msg.enabled=true\n   msg.background = \"green\"\n   global.set(\"PBenabled\",INIT);\n   global.set(\"IP\",pbTestReset);\n}\nelse{\n    msg.payload=\"Failed\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 720,
        "wires": [
            [
                "cecea75efd7cc32b"
            ]
        ]
    },
    {
        "id": "cecea75efd7cc32b",
        "type": "link out",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "76fd863ff2225cec",
            "665303d175d492df"
        ],
        "x": 835,
        "y": 720,
        "wires": []
    },
    {
        "id": "30266694f5d84623",
        "type": "link in",
        "z": "5fb63eedcfeaa0c5",
        "name": "",
        "links": [
            "2a810424f651d6b9"
        ],
        "x": 235,
        "y": 240,
        "wires": [
            [
                "7c3cbbbb6f10be1b"
            ]
        ]
    },
    {
        "id": "a591960d0ac72ad9",
        "type": "ui_dropdown",
        "z": "71a2e81cb89fca24",
        "name": "",
        "label": "Charger Power IN ",
        "tooltip": "Choose charger POWER SUPPLY",
        "place": "Select option",
        "group": "aaa583302def79b2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "100 kW",
                "value": 100,
                "type": "num"
            },
            {
                "label": "90 kW",
                "value": 90,
                "type": "num"
            },
            {
                "label": "80 kW",
                "value": 80,
                "type": "num"
            },
            {
                "label": "70 kW",
                "value": 70,
                "type": "num"
            },
            {
                "label": "60 kW",
                "value": 60,
                "type": "num"
            },
            {
                "label": "50 kW",
                "value": 50,
                "type": "num"
            },
            {
                "label": "40 kW",
                "value": 40,
                "type": "num"
            },
            {
                "label": "30 kW",
                "value": 30,
                "type": "num"
            },
            {
                "label": "20 kW",
                "value": 20,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "ac0e9ccf028a3ab4",
                "29e213cfa91498eb"
            ]
        ]
    },
    {
        "id": "1146fd2b6498be63",
        "type": "ui_dropdown",
        "z": "71a2e81cb89fca24",
        "name": "",
        "label": "DC - Max Power",
        "tooltip": "Choose Max Power in DC sockets (R50 = 50kW , R100 = 100kW)",
        "place": "Select option",
        "group": "aaa583302def79b2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "100 kW",
                "value": 100,
                "type": "num"
            },
            {
                "label": "90 kW",
                "value": 90,
                "type": "num"
            },
            {
                "label": "80 kW",
                "value": 80,
                "type": "num"
            },
            {
                "label": "70 kW",
                "value": 70,
                "type": "num"
            },
            {
                "label": "60 kW",
                "value": 60,
                "type": "num"
            },
            {
                "label": "50 kW",
                "value": 50,
                "type": "num"
            },
            {
                "label": "40 kW",
                "value": 40,
                "type": "num"
            },
            {
                "label": "30 kW",
                "value": 30,
                "type": "num"
            },
            {
                "label": "20 kW",
                "value": 20,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "372a32273fdfca2a"
            ]
        ]
    },
    {
        "id": "750f3e77986e9dcf",
        "type": "ui_dropdown",
        "z": "71a2e81cb89fca24",
        "name": "",
        "label": "AC - Max Current when DC Charging",
        "tooltip": "Max Current in AC Socket WHEN DC is charging",
        "place": "Select option",
        "group": "aaa583302def79b2",
        "order": 4,
        "width": "6",
        "height": "2",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "63 A",
                "value": 63,
                "type": "num"
            },
            {
                "label": "40 A",
                "value": 40,
                "type": "num"
            },
            {
                "label": "32 A",
                "value": 32,
                "type": "num"
            },
            {
                "label": "25 A",
                "value": 25,
                "type": "num"
            },
            {
                "label": "16 A",
                "value": 16,
                "type": "num"
            },
            {
                "label": "12 A",
                "value": 12,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "c32bd6e6fdec0fd3"
            ]
        ]
    },
    {
        "id": "3faf3b59f59e0225",
        "type": "inject",
        "z": "71a2e81cb89fca24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "e52cbebb10ca88c5",
                "5e5c950164827c2f",
                "719e271aa7df4e4a"
            ]
        ]
    },
    {
        "id": "ac0e9ccf028a3ab4",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "CPPowerIN",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "326b14a07af0bcfa"
            ]
        ]
    },
    {
        "id": "372a32273fdfca2a",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DCMaxPower",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "326b14a07af0bcfa"
            ]
        ]
    },
    {
        "id": "c32bd6e6fdec0fd3",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACMaxCurrent",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "326b14a07af0bcfa"
            ]
        ]
    },
    {
        "id": "955947ca905de34e",
        "type": "ui_text",
        "z": "71a2e81cb89fca24",
        "group": "aaa583302def79b2",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DC Power - When Only DC",
        "format": "{{msg.payload}} kW",
        "layout": "row-spread",
        "className": "",
        "x": 1220,
        "y": 40,
        "wires": []
    },
    {
        "id": "41705599cef7d598",
        "type": "ui_text",
        "z": "71a2e81cb89fca24",
        "group": "aaa583302def79b2",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DC Poewr - When AC (I)",
        "format": "{{msg.payload}} kW",
        "layout": "row-spread",
        "x": 1210,
        "y": 80,
        "wires": []
    },
    {
        "id": "9572d189c96241a5",
        "type": "ui_text",
        "z": "71a2e81cb89fca24",
        "group": "aaa583302def79b2",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DC Power - When AC (III)",
        "format": "{{msg.payload}} kW",
        "layout": "row-spread",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "b292629d624fdd59",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var MP=global.get(\"DCACT\");\n\nmsg.payload= MP;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "9572d189c96241a5"
            ]
        ]
    },
    {
        "id": "ddb24febee6c711e",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var MP=global.get(\"DCOnly\");\n\nmsg.payload= MP;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 40,
        "wires": [
            [
                "955947ca905de34e"
            ]
        ]
    },
    {
        "id": "6863a4a5e3e2d4ac",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var MP=global.get(\"DCACM\");\n\nmsg.payload= MP;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "41705599cef7d598"
            ]
        ]
    },
    {
        "id": "326b14a07af0bcfa",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var Pin = global.get(\"CPPowerIN\");\nvar DCMax = global.get(\"DCMaxPower\");\nvar ACMax = global.get(\"ACMaxCurrent\");\nvar ACPowerM = ACMax*230/1000;\nvar ACPowerT = ACMax*230*3/1000;\nvar DConly\nvar DCACm\nvar DCACt\n\nif (Pin > DCMax){\n    global.set(\"DCOnly\",DCMax);\n    DConly=DCMax;\n    \n}\nelse{\n    global.set(\"DCOnly\",Pin);\n    DConly=Pin;\n    \n}\n\nif(Pin-ACPowerM > DCMax){\n    global.set(\"DCACM\",DCMax.toFixed(0));\n    DCACm=DCMax;\n    \n}\nelse{\n    global.set(\"DCACM\",Pin-ACPowerM.toFixed(0));\n    DCACm=Pin-ACPowerM;\n    \n}\n\n\nif(Pin-ACPowerT > DCMax){\n    global.set(\"DCACT\",DCMax.toFixed(0));\n    DCACt=DCMax;\n    \n}\nelse{\n    global.set(\"DCACT\",Pin-ACPowerT.toFixed(0));\n    DCACt=Pin-ACPowerT;\n    \n}\nvar newMsg1 ={\n    'payload' : parseFloat(DConly).toFixed(0)\n}\n\nvar newMsg2 ={\n    'payload' : parseFloat(DCACm).toFixed(0)\n}\n\nvar newMsg3 ={\n    'payload' : DCACt.toFixed(0)\n}\nreturn[newMsg1,newMsg2,newMsg3]",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 300,
        "wires": [
            [
                "955947ca905de34e",
                "8a31d63c18d368da"
            ],
            [
                "41705599cef7d598",
                "64575ab7595b060f"
            ],
            [
                "9572d189c96241a5",
                "1c22a896a27fbf62"
            ]
        ]
    },
    {
        "id": "e52cbebb10ca88c5",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACMaxCurrent",
                "pt": "global",
                "to": "16",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "DCMaxPower",
                "pt": "global",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "CPPowerIN",
                "pt": "global",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "DCOnly",
                "pt": "global",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "DCACM",
                "pt": "global",
                "to": "46",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "DCACT",
                "pt": "global",
                "to": "39",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ForceACMaxCurrent",
                "pt": "global",
                "to": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.ACMAXCURRENT</forceName> <forceValue>16</forceValue> </forceVar> </forceVariables>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ForceDCOnly",
                "pt": "global",
                "to": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.DCMAXPOWER</forceName> <forceValue>50</forceValue> </forceVar> </forceVariables>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ForceDCACM",
                "pt": "global",
                "to": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.DCACM</forceName> <forceValue>46</forceValue> </forceVar> </forceVariables>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ForceDCACT",
                "pt": "global",
                "to": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.DCACT</forceName> <forceValue>39</forceValue> </forceVar> </forceVariables>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "ddb24febee6c711e",
                "6863a4a5e3e2d4ac",
                "b292629d624fdd59"
            ]
        ]
    },
    {
        "id": "8a31d63c18d368da",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 260,
        "wires": []
    },
    {
        "id": "64575ab7595b060f",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "1c22a896a27fbf62",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 380,
        "wires": []
    },
    {
        "id": "aed38c3457885d75",
        "type": "ui_text",
        "z": "71a2e81cb89fca24",
        "group": "aaa583302def79b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Set Charge Point Electrical Values",
        "label": "{{msg.topic | uppercase }} ",
        "format": "",
        "layout": "col-center",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "a4ecf8d1791bc68e",
        "type": "ui_text",
        "z": "71a2e81cb89fca24",
        "group": "aaa583302def79b2",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Check DC Power Scenarios",
        "label": "{{msg.topic | uppercase }} &check;",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "146fbc32ba352d69",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "msg.topic= \"Set Charge Point Electrical Values\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 460,
        "wires": [
            [
                "aed38c3457885d75"
            ]
        ]
    },
    {
        "id": "f23dbfb458042707",
        "type": "link in",
        "z": "71a2e81cb89fca24",
        "name": "",
        "links": [
            "5e5c950164827c2f"
        ],
        "x": 55,
        "y": 480,
        "wires": [
            [
                "146fbc32ba352d69",
                "cffc21cbb7c6b9a7"
            ]
        ]
    },
    {
        "id": "5e5c950164827c2f",
        "type": "link out",
        "z": "71a2e81cb89fca24",
        "name": "",
        "links": [
            "f23dbfb458042707",
            "1b9dfde2e9fd0f38"
        ],
        "x": 315,
        "y": 120,
        "wires": []
    },
    {
        "id": "cffc21cbb7c6b9a7",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "msg.topic= \"Check DC Power Scenarios\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 500,
        "wires": [
            [
                "a4ecf8d1791bc68e"
            ]
        ]
    },
    {
        "id": "7b9fd76bce457479",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var PV=50;\n\nmsg.payload=PV;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "a591960d0ac72ad9",
                "81738b90a50217a6"
            ]
        ]
    },
    {
        "id": "29e213cfa91498eb",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "81738b90a50217a6",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "702b972de2a25000",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var PV=50;\n\nmsg.payload=PV;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "1146fd2b6498be63"
            ]
        ]
    },
    {
        "id": "8437111e4229df96",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var PV=16;\n\nmsg.payload=PV;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "750f3e77986e9dcf"
            ]
        ]
    },
    {
        "id": "1b9dfde2e9fd0f38",
        "type": "link in",
        "z": "71a2e81cb89fca24",
        "name": "",
        "links": [
            "5e5c950164827c2f"
        ],
        "x": 175,
        "y": 300,
        "wires": [
            [
                "7b9fd76bce457479",
                "702b972de2a25000",
                "8437111e4229df96"
            ]
        ]
    },
    {
        "id": "1de9d4a9dd29e743",
        "type": "ui_button",
        "z": "71a2e81cb89fca24",
        "name": "",
        "group": "aaa583302def79b2",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send configured Limits to Charge Point",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "5e8de728f1262fde",
                "dfa1ee9f8cc89be9",
                "026c010b20c50b55",
                "7ee8b6e72157fcfc",
                "679880ccc569da4c",
                "f123185a8c8e1b64",
                "e02ee82007a45e91"
            ]
        ]
    },
    {
        "id": "92a1ebdb6077a2e7",
        "type": "http request",
        "z": "71a2e81cb89fca24",
        "name": "setVariablesGroups",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/user/forceVariables.xml?id=R%24CAL_LIMITS",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1510,
        "y": 740,
        "wires": [
            [
                "c138f4a18003a8ac",
                "2b10558a6cefd9ae"
            ]
        ]
    },
    {
        "id": "c138f4a18003a8ac",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 680,
        "wires": []
    },
    {
        "id": "3abf28c4643911ae",
        "type": "template",
        "z": "71a2e81cb89fca24",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.ACMAXCURRENT</forceName> <forceValue>{{global.ACMaxCurrent}}</forceValue> </forceVar> </forceVariables>",
        "output": "str",
        "x": 800,
        "y": 740,
        "wires": [
            [
                "db1aed9551bc3ce3"
            ]
        ]
    },
    {
        "id": "db1aed9551bc3ce3",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ForceACMaxCurrent",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "920e51694a6dc861"
            ]
        ]
    },
    {
        "id": "920e51694a6dc861",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ForceACMaxCurrent",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 740,
        "wires": [
            [
                "92a1ebdb6077a2e7"
            ]
        ]
    },
    {
        "id": "09eee3e12cbe660a",
        "type": "http request",
        "z": "71a2e81cb89fca24",
        "name": "setVariablesGroups",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/user/forceVariables.xml?id=R%24CAL_LIMITS",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1510,
        "y": 820,
        "wires": [
            [
                "abb9a76b794ccdc8",
                "8c87e284e28863e0"
            ]
        ]
    },
    {
        "id": "abb9a76b794ccdc8",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 780,
        "wires": []
    },
    {
        "id": "f083b2b09818f68b",
        "type": "template",
        "z": "71a2e81cb89fca24",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.DCMAXPOWER</forceName> <forceValue>{{global.DCOnly}}</forceValue> </forceVar> </forceVariables>",
        "output": "str",
        "x": 800,
        "y": 820,
        "wires": [
            [
                "2ebc15738972a3db"
            ]
        ]
    },
    {
        "id": "2ebc15738972a3db",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ForceDCOnly",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 820,
        "wires": [
            [
                "03a902ca0514ea37"
            ]
        ]
    },
    {
        "id": "03a902ca0514ea37",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ForceDCOnly",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 820,
        "wires": [
            [
                "09eee3e12cbe660a"
            ]
        ]
    },
    {
        "id": "0803294de01428f7",
        "type": "http request",
        "z": "71a2e81cb89fca24",
        "name": "setVariablesGroups",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/user/forceVariables.xml?id=R%24CAL_LIMITS",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1510,
        "y": 900,
        "wires": [
            [
                "7960480c7692fc73",
                "a8119ee47eb66ff5"
            ]
        ]
    },
    {
        "id": "7960480c7692fc73",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 860,
        "wires": []
    },
    {
        "id": "b9c4b729b7477314",
        "type": "template",
        "z": "71a2e81cb89fca24",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.DCACM</forceName> <forceValue>{{global.DCACM}}</forceValue> </forceVar> </forceVariables>",
        "output": "str",
        "x": 800,
        "y": 900,
        "wires": [
            [
                "18fa4ff0a7aff902"
            ]
        ]
    },
    {
        "id": "18fa4ff0a7aff902",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ForceDCACM",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "6fe974eaf8d1de37"
            ]
        ]
    },
    {
        "id": "6fe974eaf8d1de37",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ForceDCACM",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 900,
        "wires": [
            [
                "0803294de01428f7"
            ]
        ]
    },
    {
        "id": "dd0e3ae7dc68722d",
        "type": "http request",
        "z": "71a2e81cb89fca24",
        "name": "setVariablesGroups",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{post}}/services/user/forceVariables.xml?id=R%24CAL_LIMITS",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1510,
        "y": 980,
        "wires": [
            [
                "c5059fdd124b9d3d",
                "fdf6f28be11a46aa"
            ]
        ]
    },
    {
        "id": "c5059fdd124b9d3d",
        "type": "debug",
        "z": "71a2e81cb89fca24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 940,
        "wires": []
    },
    {
        "id": "69450fdf19ecd3c6",
        "type": "template",
        "z": "71a2e81cb89fca24",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<forceVariables> <forceVar> <forceName>R$CAL_LIMITS.DCACT</forceName> <forceValue>{{global.DCACT}}</forceValue> </forceVar> </forceVariables>",
        "output": "str",
        "x": 800,
        "y": 980,
        "wires": [
            [
                "09d94e1fcb5228f6"
            ]
        ]
    },
    {
        "id": "09d94e1fcb5228f6",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ForceDCACT",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "365c49fb1db46cb4"
            ]
        ]
    },
    {
        "id": "365c49fb1db46cb4",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "IP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ForceDCACT",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "multipart/form-data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 980,
        "wires": [
            [
                "dd0e3ae7dc68722d"
            ]
        ]
    },
    {
        "id": "5e8de728f1262fde",
        "type": "delay",
        "z": "71a2e81cb89fca24",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 820,
        "wires": [
            [
                "f083b2b09818f68b"
            ]
        ]
    },
    {
        "id": "dfa1ee9f8cc89be9",
        "type": "delay",
        "z": "71a2e81cb89fca24",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 900,
        "wires": [
            [
                "b9c4b729b7477314"
            ]
        ]
    },
    {
        "id": "026c010b20c50b55",
        "type": "delay",
        "z": "71a2e81cb89fca24",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 980,
        "wires": [
            [
                "69450fdf19ecd3c6"
            ]
        ]
    },
    {
        "id": "b03874f11fa03529",
        "type": "ui_text",
        "z": "71a2e81cb89fca24",
        "group": "aaa583302def79b2",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "ForceVar Status",
        "label": "Process",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1020,
        "y": 660,
        "wires": []
    },
    {
        "id": "7ee8b6e72157fcfc",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "msg.payload = \"Loading\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 660,
        "wires": [
            [
                "b03874f11fa03529",
                "64e2bacfd3051c1a"
            ]
        ]
    },
    {
        "id": "2b10558a6cefd9ae",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var st=msg.statusCode;\nvar count = global.get(\"ConfigureProcess\");\n\nif (st == 204){\n   msg.payload=\"Completed successfully\";\n   global.set(\"ConfigureProcess\",count+1);\n}\nelse{\n    msg.payload=\"Failed\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "679880ccc569da4c",
        "type": "delay",
        "z": "71a2e81cb89fca24",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 740,
        "wires": [
            [
                "3abf28c4643911ae"
            ]
        ]
    },
    {
        "id": "34bb4dbfb7bd4699",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var count = global.get(\"ConfigureProcess\");\n\nif (count == 4){\n   msg.payload=\"Completed successfully\";\n   \n}\nelse{\n    msg.payload=\"Failed, check IP address\";\n    msg.background = \"red\"\n    msg.color = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1040,
        "wires": [
            [
                "9f891bca6e7b237c"
            ]
        ]
    },
    {
        "id": "f123185a8c8e1b64",
        "type": "delay",
        "z": "71a2e81cb89fca24",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1040,
        "wires": [
            [
                "34bb4dbfb7bd4699"
            ]
        ]
    },
    {
        "id": "dbe5f1a439176834",
        "type": "link in",
        "z": "71a2e81cb89fca24",
        "name": "",
        "links": [
            "9f891bca6e7b237c"
        ],
        "x": 875,
        "y": 620,
        "wires": [
            [
                "b03874f11fa03529",
                "64e2bacfd3051c1a"
            ]
        ]
    },
    {
        "id": "9f891bca6e7b237c",
        "type": "link out",
        "z": "71a2e81cb89fca24",
        "name": "",
        "links": [
            "dbe5f1a439176834",
            "11556585441a73ac"
        ],
        "x": 895,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a6569a91f561110b",
        "type": "link in",
        "z": "71a2e81cb89fca24",
        "name": "",
        "links": [
            "65d2763dad66a4f9"
        ],
        "x": 875,
        "y": 580,
        "wires": [
            [
                "b03874f11fa03529",
                "64e2bacfd3051c1a"
            ]
        ]
    },
    {
        "id": "719e271aa7df4e4a",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "msg.payload= \" \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "65d2763dad66a4f9"
            ]
        ]
    },
    {
        "id": "65d2763dad66a4f9",
        "type": "link out",
        "z": "71a2e81cb89fca24",
        "name": "",
        "links": [
            "a6569a91f561110b"
        ],
        "x": 455,
        "y": 160,
        "wires": []
    },
    {
        "id": "8c87e284e28863e0",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var st=msg.statusCode;\nvar count = global.get(\"ConfigureProcess\");\n\nif (st == 204){\n   msg.payload=\"Completed successfully\";\n   global.set(\"ConfigureProcess\",count+1);\n}\nelse{\n    msg.payload=\"Failed\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "a8119ee47eb66ff5",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var st=msg.statusCode;\nvar count = global.get(\"ConfigureProcess\");\n\nif (st == 204){\n   msg.payload=\"Completed successfully\";\n   global.set(\"ConfigureProcess\",count+1);\n}\nelse{\n    msg.payload=\"Failed\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "fdf6f28be11a46aa",
        "type": "function",
        "z": "71a2e81cb89fca24",
        "name": "",
        "func": "var st=msg.statusCode;\nvar count = global.get(\"ConfigureProcess\");\n\nif (st == 204){\n   msg.payload=\"Completed successfully\";\n   global.set(\"ConfigureProcess\",count+1);\n}\nelse{\n    msg.payload=\"Failed\";\n    msg.background = \"red\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "64e2bacfd3051c1a",
        "type": "ui_template",
        "z": "71a2e81cb89fca24",
        "d": true,
        "group": "aaa583302def79b2",
        "name": "",
        "order": 11,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Process</p>\n\n  <font color=\"{{((msg.color || 0) % 10 === 0) ? 'green' : 'red'}}\">\n    {{(msg.payload || 0) % 2 === 0 ? 'Loading' : 'Failed, check IP address'}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1000,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "92942b5603109d5e",
        "type": "ui_template",
        "z": "71a2e81cb89fca24",
        "d": true,
        "group": "aaa583302def79b2",
        "name": "",
        "order": 11,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Process</p>\n  <font color=\"{{((msg.color || 0) % 10 === 0) ? 'green' : 'red'}}\">\n    {{(msg.color || 0) % 2 === 0 ? 'Loading' : 'Failed, check IP address'}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1180,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e02ee82007a45e91",
        "type": "change",
        "z": "71a2e81cb89fca24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ConfigureProcess",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 700,
        "wires": [
            []
        ]
    }
]